<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="javascript:void(0);"><i class="material-icons">home</i> <%= __('home'); %></a></li>
            <li class="active"><i class="material-icons">view_list</i> <%= __('all_admins'); %></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2><%= __('all_admins'); %></h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="/admin/admins/create">
                                        <i class="material-icons">add_circle_outline</i> 
                                        <%= __('create_admin'); %>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-table">
                            <thead>
                                <tr>
                                    <th><%= __('action') %></th>
                                    <th><%= __('name') %></th>
                                    <th><%= __('email') %></th>
                                    <th><%= __('mobile') %></th>
                                    <th><%= __('account_access') %></th>
                                    <th><%= __('status') %></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    $('.js-table').DataTable({
        dom: 'Blfrtip',
        responsive: true,
        ajax: {
            url: '/admin/admins/listings',
            type: 'POST'
        },
        serverSide: true,
        scrollX: true,
        scrollCollapse: true,
        fixedColumns: true,
        searchable : true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columns: [
            { mRender: function(data, type, row) {
                let action = '';
                if('<%= locals.SocketHelper.hasAccess(locals.req, "/admin/admins/delete") %>' === "true")
                {
                    action += `<a href="/admin/admins/delete/${row._id}" class="delete btn btn-danger waves-effect btn-xs"><%= __('delete') %></a>`;
                }
                if('<%= locals.SocketHelper.hasAccess(locals.req, "/admin/admins/update") %>' === "true")
                {
                    action += `<a href="/admin/admins/update/${row._id}" class="btn bg-light-green btn-xs waves-effect"><%= __('update') %></a>`;
                }
                if('<%= locals.SocketHelper.hasAccess(locals.req, "/admin/admins/view") %>' === "true")
                {
                    action += `<a href="/admin/admins/view/${row._id}" class="btn bg-teal btn-xs waves-effect"><%= __('view') %></a>`;
                }
                return action ? action : '--';
            }},
            {data: 'name', name: 'name'},
            {data: 'email', name : 'email'},
            {data: 'mobile', name : 'mobile', mRender: function(data, type, row) {
                return row.mobile ?  `+${row.dial_code}${row.mobile}` : '--';
            }},
            {data: 'role_id', name : 'role_id', mRender : function(data, type, row) {
                let locale = "<%= getLocale() %>";
                return row.role_id ? (locale == 'en' ? row.role_id.en_name : row.role_id.name) : '';
            }},
            {data: 'status', name:'status', mRender: function(data, type, row) {
                let account_status_array = JSON.parse(JSON.stringify("<%= __('account_status_array') %>")).split(',');
                return account_status_array[row.status];
            }},
            
        ]
    });
    
    $('.js-table').on('click', '.delete', function(e) {
        e.preventDefault();
        let href = $(this).attr('href');
        swal({
            title: "<%= __('are_you_sure') %>?",
            text: "<%= __('delete_confirmation') %>!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<%=  __('deletion_confirm_button') %>!",
            cancelButtonText: "<%=  __('cancel') %>",
            closeOnConfirm: false
        }, function () {
            $.post( href, function( data ) {
                $('.js-table').DataTable().ajax.reload();
                swal("<%=  __('deleted') %>!", "<%=  __('deletion_successful') %>.", "success");
            });
        });
    })
});
</script>