<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="javascript:void(0);"><i class="material-icons">home</i> <%= __('home'); %></a></li>
            <li><a href="/admin/admins"><i class="material-icons">view_list</i> <%= __('all_admins'); %></a></li>
            <li class="active"><i class="material-icons">remove_red_eye</i> <%= __('view_details'); %></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% if(error.length > 0) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
            <% if(success.length > 0) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
            <% } %>
            <div class="card">
                <div class="header">
                    <h2>
                        <%= data.name %>
                        <small><%= __('account_id') %> : <%= data._id %></small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                
                                <% if(locals.MyHelper.hasAccess(locals.req, "/admin/admins/update") == true) {%>
                                    <li>
                                        <a href="/admin/admins/update/<%= data._id %>"><%= __('update') %></a>
                                    </li>
                                <% } %>
                                <% if(locals.MyHelper.hasAccess(locals.req, "/admin/admins/permission") == true) {%>
                                    <li>
                                        <a href="/admin/admins/permission/<%= data._id %>"><%= __('permission') %></a>
                                    </li>
                                <% } %>
                                <% if(locals.MyHelper.hasAccess(locals.req, "/admin/admins/change/password") == true) {%>
                                    <li>
                                        <a href="/admin/admins/change/password/<%= data._id %>"><%= __('change_password') %></a>
                                    </li>
                                <% } %>
                                <% if(locals.MyHelper.hasAccess(locals.req, "/admin/admins/delete") == true) {%>
                                    <li>
                                        <a  class="delete" href="/admin/admins/delete/<%= data._id %>"><%= __('delete') %></a>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#account_info" data-toggle="tab"><%= __('account_info')%></a>
                                </li>
                                <li role="presentation">
                                    <a href="#active_session" data-toggle="tab"  data-table="js-access-log-table"><%= __('active_session')%></a>
                                </li>
                                <li role="presentation">
                                    <a href="#module_access" data-toggle="tab"><%= __('module_access')%></a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane animated flipInX active" id="account_info">
                                    <ul class="list-group">
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('account_id') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <%= data._id %>
                                            </span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('name') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <%= data.name %>
                                            </span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('email') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <%= data.email %>
                                            </span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('mobile') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <%= data.mobile ? `+${data.dial_code}${data.mobile}` : '--' %>
                                            </span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('account_access') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <%= data.role_id ? (getLocale() == 'en' ? data.role_id.en_name : data.role_id.name) : '--'; %>
                                            </span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('image') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <% if(data.image) {%>
                                                <div id="aniimated-thumbnials">
                                                    <div class="col-lg-3 col-md-4 col-sm-6 m-t-0 m-l-0 m-r-0 m-b-0">
                                                        <a href="<%= locals.MyHelper.buildImageLink(data.image) %>" data-sub-html="<%= data.name %>">
                                                            <img class="img-responsive thumbnail" src="<%= locals.MyHelper.buildImageLink(data.image) %>">
                                                        </a>
                                                    </div>
                                                </div>
                                                <% } else { %>
                                                --
                                                <% } %>
                                            </span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <%= __('status') %>
                                            </span>
                                            <span class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <%= data.decoded_status %>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane animated flipInX" id="active_session">
                                <%  if(adminLoginLogs != null) { %>    
                                    <div class="card" id="active_session_box">
                                        <div class="header bg-light-green">
                                            <h2>
                                                <%= __('ip_address') %> : <%= adminLoginLogs.ip_address %>
                                                <small> <%= __('login_time') %> :  <%= adminLoginLogs.login_at %></small>
                                                <small> <%= __('session_id') %> :  <%= adminLoginLogs.session_id %></small>
                                            </h2>
                                        </div>
                                        <div class="body">
                                            <h4><%= __('browser') %></h4>
                                            <% let browser = JSON.parse(adminLoginLogs.browser); %>
                                            <div class="clearfix"></div>
                                            <%= __('name') %> : <%= browser.name %> 
                                            <div class="clearfix"></div>
                                            <%= __('version') %> : <%= browser.version %> 
                                            <div class="clearfix"></div>
                                            <%= __('versionNumber') %> : <%= browser.versionNumber %> 
                                            <div class="clearfix"></div>
                                            <%= __('mobile') %> : <%= browser.mobile %> 
                                            <div class="clearfix"></div>
                                            <%= __('os') %> : <%= browser.os %> 
                                            <% if(locals.admin._id != data._id) { %>
                                            <div class="clearfix p-t-10"></div>
                                            <button href="/admin/admins/end-session/<%= adminLoginLogs.admin_id %>" class="btn btn-primary waves-effect end_session"><%= __('end_session') %></button>
                                            <% } %>
                                        </div>
                                    </div>
                                    <% } %>
                                    <div class="clearfix"></div>
                                    <div class="card">
                                        <div class="header">
                                            <h2><%= __('all_access_logs'); %></h2>
                                        </div>
                                        <div class="body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover dataTable js-access-log-table">
                                                    <thead>
                                                        <tr>
                                                            <th><%= __('action') %></th>
                                                            <th><%= __('login_time') %></th>
                                                            <th><%= __('logout_time') %></th>
                                                            <th><%= __('ip_address') %></th>
                                                            <th><%= __('session_id') %></th>
                                                            <th><%= __('browser') %></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane animated flipInX" id="module_access">
                                    <p>
                                        <div class="col-md-12">
                                            <% if(navigations.length > 0) { %>
                                                <%  _.forEach(navigations, function(value, index) { %>
                                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="checkAll filled-in chk-col-light-green" checked disabled />
                                                        <label><strong><%= getLocale() == 'en' ? value.en_name : value.name %></strong></label>
                                                        <div class="checkItemBox">
                                                        <% if(value.hasOwnProperty('children')) {%>
                                                            <%  _.forEach(value.children, function(rowValue, keyIndex) { %>
                                                                <% if(keyIndex == 0) { %>
                                                                <div class="clearfix"></div>
                                                                <% } %>
                                                                <input type="checkbox" class="checkItem filled-in chk-col-light-green" checked disabled />
                                                                <label><%= getLocale() == 'en' ? rowValue.en_name : rowValue.name %></label>
                                                            <% }) %>
                                                        <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } ) %>
                                            <% } else {%>
                                                <p class="list-group-item"><%= __('no_record_found'); %></p>
                                            <% } %>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    <% if(data.image) {%>
        $('#aniimated-thumbnials').lightGallery({
            thumbnail: true,
            selector: 'a'
        });
    <% } %>
    $('.js-access-log-table').DataTable({
        dom: 'Blfrtip',
        responsive: true,
        ajax: {
            url: `/admin/admins/access-log/listings/<%= data._id %>`,
            type: 'POST'
        },
        serverSide: true,
        scrollX: true,
        scrollCollapse: true,
        fixedColumns: true,
        searchable : true,
        deferLoading: 0, // autoload false
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columns: [
            { mRender: function(data, type, row) {
                let action = '';
                if('<%= locals.MyHelper.hasAccess(locals.req, "/admin/admins/access-log/delete") %>' === "true")
                {
                    action += `<a table="js-access-log-table" href="/admin/admins/access-log/delete/${row._id}" class="delete btn btn-danger waves-effect btn-xs"><%= __('delete') %></a>`;
                }
                return action ? action : '--';
            }},
            {data: 'login_at', name: 'login_at'},
            {data: 'logout_at', name: 'logout_at'},
            {data: 'ip_address', name: 'ip_address'},
            {data: 'session_id', name: 'session_id'},
            {data: 'browser', name : 'browser', mRender: function(data, type, row) {
                return row.browser;
            }}
        ]
    });
    $(document).on('click', '.delete', function(e) {
        e.preventDefault();
        let href = $(this).attr('href');
        let table = $(this).attr('table');
        swal({
            title: "<%= __('are_you_sure') %>?",
            text: "<%= __('delete_confirmation') %>!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<%=  __('deletion_confirm_button') %>!",
            cancelButtonText: "<%=  __('cancel') %>",
            closeOnConfirm: false
        }, function () {
            $.post( href, function( data ) {
                swal("<%=  __('deleted') %>!", "<%=  __('deletion_successful') %>.", "success");
                if(table)
                {
                    $('.'+table).DataTable().ajax.reload( null, false ); // user paging is not reset on reload
                }
            });
        });
    });

    <%  if(adminLoginLogs != null) { %> 
    $(document).on('click', '.end_session', function(e) {
        e.preventDefault();
        let href = $(this).attr('href');
        swal({
            title: "<%= __('are_you_sure') %>?",
            text: "<%= __('end_session_confirmation') %>!",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        }, function () {
            $.post( href, function( data ) {
                $('#active_session_box').remove();
                swal("<%=  __('ok') %>!", "<%=  __('session_end_successful') %>.", "success");
            });
        });
    });
    <% } %>
});
</script>