<form id="create_password" method="POST">
    <div class="msg">
        <%= __('create_password_label'); %>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons"><%= __('lock'); %></i>
        </span>
        <div class="form-line">
            <input type="password" minlength="5" class="form-control" name="password" placeholder="<%= __('new_password'); %>" required>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons"><%= __('lock'); %></i>
        </span>
        <div class="form-line">
            <input type="password" minlength="5" class="form-control" name="confirm" placeholder="<%= __('confirm_password'); %>" required>
        </div>
    </div>

    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit"><%= __('change_my_password'); %></button>

    <div class="row m-t-20 m-b--5 align-center">
        <a href="login"><%= __('sign_in'); %>!</a>
    </div>
</form>

<script>
$(function () {
    $('#create_password').validate({
        rules: {
            'terms': {
                required: true
            },
            'confirm': {
                equalTo: '[name="password"]'
            }
        },
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.input-group').append(error);
            $(element).parents('.form-group').append(error);
        }
    });
});
</script>