<form id="forgot_password" method="POST">
    <div class="msg">
        <%= __('recovery_label'); %>
    </div>
    <% if(error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    <% if(success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">email</i>
        </span>
        <div class="form-line">
            <input type="email" class="form-control" name="email" placeholder="<%= __('email'); %>" required autofocus email>
        </div>
    </div>

    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit"><%= __('reset_my_password'); %></button>

    <div class="row m-t-20 m-b--5 align-center">
        <a href="login"><%= __('sign_in'); %>!</a>
    </div>
</form>

<script>
$(function () {
    $('#forgot_password').validate({
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.input-group').append(error);
        }
    });
});
</script>