<form id="sign_in" method="POST">
    <div class="msg"><%= __('sign_in_to_start_your_session'); %></div>
    <% if(error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    <% if(success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>

    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            <input type="email" class="form-control" name="username" placeholder="<%= __('username'); %>" required autofocus email>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="password" class="form-control" name="password" placeholder="<%= __('password'); %>" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 p-t-5">
            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
            <label for="rememberme"><%= __('remember_me'); %></label>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-block bg-pink waves-effect" type="submit"><%= __('sign_in'); %></button>
        </div>
    </div>
    <div class="row m-t-15 m-b--20">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 align-right">
            <a href="forgot-password"><%= __('forgot_password'); %>?</a>
        </div>
    </div>
</form>

<script>
$(function () {
    $('#sign_in').validate({
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.input-group').append(error);
        }
    });
});
</script>