<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="javascript:void(0);"><i class="material-icons">home</i> <%= __('home'); %></a></li>
            <li><a href="/admin/logs"><i class="material-icons">view_list</i> <%= __('all_logs'); %></a></li>
            <li class="active"><i class="material-icons">error</i> <%= __('logs');  %> (<%= data.length %>)</li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="list-group">
                    <% if(data.length > 0) { %>
                        <%  _.forEach(data, function(val) {  if(val) {%>
                            <p class="list-group-item <%= _.includes(val,'error') ? 'col-pink' : ''; %>"><%= val %></p>
                        <% } } ) %>
                    <% } else {%>
                        <p class="list-group-item"><%= __('no_record_found'); %></p>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
