<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="javascript:void(0);"><i class="material-icons">home</i> <%= __('home'); %></a></li>
            <li class="active"><i class="material-icons">view_list</i> <%= __('all_navigations'); %></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2><%= __('all_navigations'); %></h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="/admin/navigations/create">
                                        <i class="material-icons">add_circle_outline</i> 
                                        <%= __('create_navigation'); %>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-table">
                            <thead>
                                <tr>
                                    <th><%= __('action') %></th>
                                    <th><%= __('name') %></th>
                                    <th><%= __('en_name') %></th>
                                    <th><%= __('icon') %></th>
                                    <th><%= __('parent') %></th>
                                    <th><%= __('action_path') %></th>
                                    <th><%= __('show_in_menu') %></th>
                                    <th><%= __('show_in_permission') %></th>
                                    <th><%= __('child_permission') %></th>
                                    <th><%= __('display_order') %></th>
                                    <th><%= __('status') %></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    $('.js-table').DataTable({
        dom: 'Blfrtip',
        responsive: true,
        ajax: {
            url: '/admin/navigations/listings',
            type: 'POST'
        },
        // processing: true,
        serverSide: true,
        scrollX: true,
        scrollCollapse: true,
        fixedColumns: true,
        searchable : true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columns: [
            { mRender: function(data, type, row) {
                let action = '';
                if('<%= locals.SocketHelper.hasAccess(locals.req, "/admin/navigations/delete") %>' === "true")
                {
                    action += `<a href="/admin/navigations/delete/${row._id}" class="delete btn btn-danger waves-effect btn-xs"><%= __('delete') %></a>`;
                }

                if('<%= locals.SocketHelper.hasAccess(locals.req, "/admin/navigations/update") %>' === "true")
                {
                    action += `<a href="/admin/navigations/update/${row._id}" class="btn bg-light-green btn-xs waves-effect"><%= __('update') %></a>`;
                }
                return action ? action : '--';
            }},
            {data: 'name', name: 'name'},
            {data: 'en_name', name: 'en_name'},
            {data: 'icon', name : 'icon'},
            {data: 'parent_id', name:'parent_id', mRender: function(data, type, row) {
                return row.parent_id ?  "<%= __('yes') %>" : "<%= __('no') %>";
            }},
            {data: 'action_path', name: 'action_path'},
            {data: 'show_in_menu', name:'show_in_menu', mRender: function(data, type, row) {
                return row.show_in_menu ?  "<%= __('yes') %>" : "<%= __('no') %>";
            }},
            {data: 'show_in_permission', name:'show_in_permission', mRender: function(data, type, row) {
                return row.show_in_permission ?  "<%= __('yes') %>" : "<%= __('no') %>";
            }},
            {data: 'child_permission', name:'child_permission', mRender: function(data, type, row) {
                return row.child_permission ?  "<%= __('yes') %>" : "<%= __('no') %>";
            }},
            {data: 'display_order',  name: 'display_order'},
            {data: 'status', name:'status', mRender: function(data, type, row) {
                return row.status ?  "<%= __('active') %>" : "<%= __('inactive') %>";
            }},
            
        ]
    });
    
    $('.js-table').on('click', '.delete', function(e) {
        e.preventDefault();
        let href = $(this).attr('href');
        swal({
            title: "<%= __('are_you_sure') %>?",
            text: "<%= __('delete_confirmation') %>!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<%=  __('deletion_confirm_button') %>!",
            closeOnConfirm: false
        }, function () {
            $.post( href, function( data ) {
                $('.js-table').DataTable().ajax.reload();
                swal("<%=  __('deleted') %>!", "<%=  __('deletion_successful') %>.", "success");
            });
        });
    })
});
</script>