<header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
    <canvas class="constellation"></canvas>

    <div class="container">
        <div class="row h-full">
            <div class="col-12 text-center align-self-center">
                <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">Built <span class="text-primary" data-type="<%= __('company'); %> Application, with Express and EJS"></span></h1>
                <h1 class="fs-35 fw-600 lh-15 hidden-md-up">Built <br><span class="text-primary" data-type="<%= __('company'); %> Application, with Express and EJS"></span></h1>
                <br>
                <p class="fs-20 hidden-sm-down"><strong><%= __('company'); %></strong> is an elegant, modern and fully customizable <%= __('company'); %> with EJS template</p>
                <p class="fs-16 hidden-md-up"><strong><%= __('company'); %></strong> is an elegant, modern and fully customizable <%= __('company'); %> with EJS template</p>
                <br>
            </div>

            <div class="col-12 align-self-end text-center pb-70">
                <a class="scroll-down-2 scroll-down-inverse" href="#" data-scrollto="section-demo"><span></span></a>
            </div>
        </div>
    </div>
</header>