<!DOCTYPE html>
<html lang="<%= getLocale(); %>">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title><%= __('company'); %></title>

    <!-- Styles -->
    <link href="site/css/core.min.css" rel="stylesheet">
    <link href="site/css/thesaas.min.css" rel="stylesheet">

    <!-- Font Awesome Css -->
    <link href="/backend/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Emoji picker Css -->
    <link rel="stylesheet" href="/backend/plugins/emojionearea/dist/emojionearea.min.css">
    
    <link href="site/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="site/img/apple-touch-icon.png">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="<%= __('company'); %>">
    <meta property="og:description" content="">
    <meta property="og:image" content="site/img/og-img.jpg">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Scripts -->
    <script src="site/js/core.min.js"></script>
    <script src="site/js/thesaas.min.js"></script>

    <!-- emoji-picker JavaScript -->
    <script type="text/javascript" src="/backend/plugins/emojionearea/dist/emojionearea.min.js"></script>

    <!-- Moment Plugin Js -->
    <script src="/backend/plugins/moment/min/moment.min.js"></script>
    <script src="/backend/plugins/moment/min/moment-with-locales.min.js"></script>
    <script src="/backend/plugins/moment-timezone/builds/moment-timezone.min.js"></script>
    <script src="/backend/plugins/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/backend/plugins/jquery-validation/jquery.validate.js"></script>
    <% if(getLocale() == 'ar') { %>
        <script src="/backend/plugins/jquery-validation/localization/messages_ar.js"></script>
    <% } %>

    <!-- Momentjs Plugin Js -->
    <script src="/backend/plugins/momentjs/moment.js"></script>
    <script src="site/js/script.js"></script>
    <script src="/js/socket.io.js"></script>
    <script>
        let session_id = '';
        let locale = '<%= getLocale() %>';
        moment.tz.setDefault("<%= config.get('timezone') %>");
        moment.locale("<%= getLocale() %>");
    </script>
</head>

<body class="<%= getLocale(); %>">

    <!-- Topbar -->
    <%- include('topbar'); %>
    <!-- END Topbar -->
    <% if (typeof header !== undefined && header === true) { %>
        <!-- Header -->
        <%- include('header'); %>
        <!-- END Header -->
    <% } %>

    <!-- Main container -->
    <main class="main-content">
        <%- body %>
    </main>
    <!-- END Main container -->

    <!-- Footer -->
    <%- include('footer'); %>
    <!-- END Footer -->

    
</body>

</html>