<h1><%= __('company'); %></h1>
<div class="info"><%= __('our_website_is_under_construction'); %> :(</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row countdown">
            <div class="col-md-3">
                <div class="days">341</div>
                <div class="text"><%= __('days'); %></div>
            </div>
            <div class="col-md-3">
                <div class="hours">04</div>
                <div class="text"><%= __('hrs'); %></div>
            </div>
            <div class="col-md-3">
                <div class="min">51</div>
                <div class="text"><%= __('min'); %></div>
            </div>
            <div class="col-md-3">
                <div class="sec">58</div>
                <div class="text"><%= __('sec'); %></div>
            </div>
        </div>
        <form class="subscribe-form">
            <div class="input-group input-group-lg">
                <input type="email" class="form-control" placeholder="<%= __('subscribe_email_to_be_notified'); %>" required="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><%= __('subscribe'); %></button>
                </span>
            </div>
        </form>
        <ul class="social-icons">
            <li><a class="social-facebook" href="https://www.facebook.com/developmentvk1"><i class="fa fa-facebook"></i></a></li>
            <li><a class="social-twitter" href="https://twitter.com/developmentvk"><i class="fa fa-twitter"></i></a></li>
            <li><a class="social-dribbble" href="https://www.linkedin.com/in/developmentvk"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="social-dribbble" href="https://github.com/developmentvk"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>