<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="/admin/dashboard"><i class="material-icons">home</i> <%= __('home'); %></a></li>
            <li><a href="/admin/company"><i class="material-icons">view_list</i> <%= __('all_companies'); %></a></li>
            <li><a href="/admin/company/view/<%= data.company_id %>"><i class="material-icons">remove_red_eye</i> <%= __('company_details'); %></a></li>
            <li><a href="/admin/company/agent/view/<%= data._id %>"><i class="material-icons">remove_red_eye</i> <%= __('agent_details'); %></a></li>
            <li class="active"><i class="material-icons">vpn_key</i> <%= __('change_password'); %></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% if(error.length > 0) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
            <% if(success.length > 0) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
            <% } %>
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <form class="form-horizontal" id="change_password_record" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="password"><%= __('new_password'); %> <span class="required">*</span></label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                        <input type="password" minlength="5" class="form-control" name="password" placeholder="<%= __('new_password'); %>" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="confirm_password"><%= __('confirm_password'); %> <span class="required">*</span></label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="password" minlength="5" class="form-control" name="confirm" placeholder="<%= __('confirm_password'); %>" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row clearfix">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                    <button type="submit" class="btn bg-blue waves-effect">
                                        <%= __('change_password'); %>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
$(function () {
    $('#change_password_record').validate({
        rules: {
            'confirm': {
                equalTo: '[name="password"]'
            }
        },
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.input-group').append(error);
            $(element).parents('.form-group').append(error);
        }
    });
});
</script>