<!DOCTYPE html>
<html lang="<%= getLocale(); %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%= __("company"); %> - <%= title %></title>
    <!-- Favicon-->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/backend/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/backend/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/backend/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="/backend/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="/backend/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="/backend/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- Sweetalert Css -->
    <link href="/backend/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/backend/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from backend/css/themes instead of get all themes -->
    <link href="/backend/css/themes/all-themes.css" rel="stylesheet" />

    <!-- Jquery Core Js -->
    <script src="/backend/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/backend/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/backend/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/backend/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/backend/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="/backend/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/backend/plugins/raphael/raphael.min.js"></script>
    <script src="/backend/plugins/morrisjs/morris.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="/backend/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/backend/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/backend/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="/backend/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/backend/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="/backend/js/main.js"></script>
    <script src="/js/socket.io.js"></script>
    <script>
        let session_id = "<%= locals.admin._id %>";
        let site_url = document.location.origin;
        let current_pathname = document.location.pathname;
    </script>
    
</head>

<body class="theme-teal">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p><%= __("please_wait"); %>...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/admin/dashboard"><%= __("company"); %></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">1</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header"><%= __("notifications"); %></li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="/admin/notifications"><%= __("view_all_notifications"); %></a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="<%= locals.admin.image ? '/uploads/images/'+locals.admin.image : '/backend/images/user.png' %>" width="48" height="48" alt="<%= locals.admin.name %>" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.admin.name %></div>
                    <div class="email"><%= locals.admin.email %></div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/admin/profile"><i class="material-icons">person</i><%= __('profile'); %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/change/password"><i class="material-icons">lock</i><%= __('change_password'); %></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/logout"><i class="material-icons">input</i><%= __('sign_out'); %></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <%- include('leftMenu'); %>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; <%= (new Date()).getFullYear(); %> <a href="/admin/dashboard"><%= __('company'); %> - <%= __('admin_panel'); %></a>.
                </div>
                <div class="version">
                    <b><%= __('version'); %>: </b> <%= locals.admin.version %>
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <%- body %>
    </section>

    <!-- Custom Js -->
    <script src="/backend/js/admin.js"></script>
    <script src="/backend/js/pages/index.js"></script>

</body>

</html>