<div class="menu">
    <ul class="list">
        <li class="header"><%= __('main_navigation'); %></li>
        <li class="active">
            <a href="/admin/dashboard">
                <i class="material-icons">home</i>
                <span><%= __('home'); %></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">error</i>
                <span><%= __('application_logs'); %></span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/admin/logs"><%= __('logs'); %></a>
                </li>
                <li>
                    <a href="/admin/exceptions"><%= __('exceptions'); %></a>
                </li>
            </ul>
        </li>
    </ul>
</div>