<!DOCTYPE html>
<html lang="<%= getLocale(); %>">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%= __("company"); %> - <%= title %></title>
    <!-- Favicon-->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/backend/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/backend/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/backend/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/backend/css/style.css" rel="stylesheet">

    <!-- Jquery Core Js -->
    <script src="/backend/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/backend/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/backend/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/backend/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="/js/socket.io.js"></script>
    <script>
        let session_id = '';
    </script>
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="/"><%= __('company'); %></a>
            <small><%= __('admin_panel'); %></small>
        </div>
        <div class="card">
            <div class="body">
                <%- body %>
            </div>
        </div>
    </div>

    <!-- Custom Js -->
    <script src="/backend/js/admin.js"></script>
</body>

</html>