<div class="menu">
    <ul class="list">
        <li class="header"><%= __('main_navigation'); %></li>
        <% if(company.hasOwnProperty('navigations')) { %>
            <% if(company.navigations.length > 0) { %>
                <% _.forEach(company.navigations, function(value) {%>
                <% if(value.show_in_menu == 1) {%>
                    <li class="<%= current_pathname == value.action_path ? 'active' : '' %>">
                        <% if(value.hasOwnProperty('children')) { %>
                        <a href="javascript:void(0);" class="menu-toggle">
                        <% } else {%>
                        <a href="<%= value.action_path %>">
                        <% } %>
                            <i class="material-icons"><%= value.icon %></i>
                            <span><%= getLocale() == 'en' ? value.en_name : value.name %></span>
                        </a>
                        <% if(value.hasOwnProperty('children')) { %>
                            <% if(value.children.length > 0) { %>
                            <ul class="ml-menu">
                                <% _.forEach(value.children, function(row) {%>
                                    <% if(row.show_in_menu == 1) {%>
                                        <li class="<%= current_pathname == row.action_path ? 'active' : '' %>"><a href="<%= row.action_path %>"><%= getLocale() == 'en' ? row.en_name : row.name %></a></li>
                                    <%} %>
                                <% }) %>
                            </ul>
                            <% } %>
                        <% } %>
                    </li>
                <% } %>
                <% }) %>
            <% } %>
        <% } %>
    </ul>
</div>
<script>
    function activeTab(){
        let findActiveLink = $('.menu ul.list').find('li.active');
        if(findActiveLink.length > 0)
        {
            findActiveLink.closest('ul.ml-menu').show();
            findActiveLink.closest('ul.ml-menu').closest('li').addClass('active');
            findActiveLink.closest('ul.ml-menu').closest('li a:first').addClass('toggled');
        }
    }
    activeTab();
</script>