<!DOCTYPE html>
<html lang="<%= getLocale(); %>">

<head>
    <%- include('../../common/loginHeader'); %>
</head>

<body class="login-page theme-teal">
    <div class="login-box">
        <div class="logo">
            <a href="/"><%= __('app_name'); %></a>
            <small><%= __('company_panel'); %></small>
        </div>
        <div class="align-center m-b-15">
            <div class="switch">
                <label><%= __('arabic') %><input name="default_locale" value="<%= getLocale() %>" type="checkbox" <%= getLocale() == 'en' ? 'checked' : '' %>><span class="lever"></span><%= __('english') %></label>
            </div>
        </div>
        <div class="card">
            <div class="body">
                <%- body %>
            </div>
        </div>
    </div>

    <!-- Custom Js -->
    <script src="/backend/js/admin.js"></script>
    <script type="text/javascript">
        $(function() {
            $(document).on('change', '[name=default_locale]', function(e) {
                e.preventDefault();
                let default_locale = $(this).val();
                swal({
                    title: "<%= __('are_you_sure') %>?",
                    text: "<%= __('locale_change_confirmation') %>!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "<%=  __('locale_confirm_button') %>!",
                    cancelButtonText: "<%=  __('cancel') %>",
                    closeOnConfirm: false,
                    closeOnCancel: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post( "/company/set-locale",{ locale : default_locale}, function( data ) {
                            swal("<%=  __('updated') %>!", "<%=  __('locale_successful') %>.", "success");
                            window.location.reload();
                        });
                    } else {
                        if($('input[name=default_locale]').prop('checked'))
                        {
                            $('[name=default_locale]').prop('checked',false);
                        } else {
                            $('[name=default_locale]').prop('checked',true);
                        }
                    }
                });

            })
        });
    </script>
</body>

</html>